/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/* RÉINITIALISATION DES ÉLÉMENTS
--------------------------------------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,abbr,acronym{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}
a:active,object,embed{outline:none;}

body{
    margin: 0;
    padding: 0;
    background: gray;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

h1{margin: 0 0 10px 0; text-transform: uppercase; font-size: 18px;}

h2{margin: 10px 0 5px 0; padding: 10px; background-color: #000; color: #fff; border-bottom: 1px solid #000; text-transform: uppercase;}
h2:hover{cursor: move;}

h3{margin: 10px 0 2px 0;}

.container{
    padding: 20px;
    background-color: #fff;
}

.header{height: 50px; padding: 20px; background-color: #000; color: #fff; font-weight: bold;}
.header a{color: #fff; font-weight: normal; text-decoration: none;}
.header a:hover{text-decoration: underline;}
.footer{height: 150px; background-color: #000;}

.grille{
    width: 50%;
}

.grille table{
    border-collapse: 0;
    border: 0;
    margin: 0;
    padding: 0;
}

.grille table td{
    padding: 8px 5px;
    border: 1px solid gray;
    width: 20px;
    height: 15px;
}

.grille table td:hover{
    cursor: pointer;
}

.grille table td.plein{
    background: #fff url(rondRouge.gif) repeat center center;
}

#mot_a_chercher{overflow: hidden; width: 620px; background: #fff url(fond-listeMot.gif) repeat-x 0 10px;}
#mot_a_chercher #right{float: right; width: 175px; padding: 0 10px}
#mot_a_chercher #right span:hover{cursor: pointer;}
#mot_a_chercher #right span.plein{text-decoration: line-through;}
